#torch==2.7.1
#torchvision==0.22.1
#torchaudio==2.7.1
#triton==3.3.1
#xformers==0.0.31.post1 #12.8 -> 0.0.35
deepspeed==0.17.4
transformers==4.54.1
diffusers==0.34.0
accelerate==1.9.0
datasets==3.6.0
peft==0.18.1
safetensors==0.5.2
tensorboard
omegaconf
beautifulsoup4
calflops
controlnet-aux
#decord -> x86
easydict
einops
ftfy
gdown
h5py
imageio
imageio-ffmpeg
lerobot==0.3.2
lmdb
lpips
matplotlib
moviepy
nvidia-ml-py
opencv-python
opencv-python-headless
paramiko
#pytorch-fid
rtmlib
scikit-image
segment-anything
terminaltables
tyro
zmq
#flash-attn==2.7.4.post1
easydict
diffusers